body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* !----------- HEADER --------------*/

.header {
}

.logo-webstudio {
  margin: 24px 0;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.header-logo .studio {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}

.header-nav {
  display: flex;
}
.header-content-list {
  display: flex;
  gap: 40px;
}

.header-content-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-list-link {
  color: #434455;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.header-content-list,
.contacts-list-item {
  list-style: none;
}

.header-content-link:hover,
.contacts-list-link:hover,
.header-content-link:active,
.contacts-list-link:active,
.header-content-link:focus,
.contacts-list-link:focus {
  color: #404bbf;
  text-decoration: none;
}

/* ! ----------- HERO -------------- */

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.section-hero {
  background-color: #2e2f42;
}

.section-hero-text {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* ! ------------- SIDES ------------------- */

.sides-list {
  list-style-type: none;
}

.sides-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}

.sides-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* ! ------------- TEAM -------------- */

.section-team {
  background-color: #f4f4fd;
}

.team-list {
  list-style-type: none;
}

.team-list-item {
  background-color: #ffffff;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-team-text {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.team-role {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ! ------------- PORTFOLIO ------------- */

.section-portf-text {
  color: #2e2f42;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.portf-list {
  list-style-type: none;
  color: #ffffff;
}

.portf-list-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

.portf-list-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* ! -------------- FOOTER -------------- */

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.footer-logo .studio-footer {
  color: #f4f4fd;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
